
table{
       width:300px;
       height:400px;
       border: 1px solid #1e1e2f;
       margin: auto;
       border-spacing: 5px 5px;
       background :#84e1e1;
     }

.btn{
      width:100%;
      height: 65px;
      font-size:20px;
      color: #0033cc;
      border-radius: 15px;
    }
.btn:hover {
      color:  #00e6e6 ;
      font-size: 21px;
   }

.txt {
  width: 98%;
  height: 50px;
  text-align: right;
  background:#c1f0f0;
  font-size: 20px;
}
 h3 {
     color: #004466;
     text-align: center;
     text-decoration: underline;
    }
